@model IEnumerable<iRecipe.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>My Recipes</h1>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Cuisine
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeArea)
            </td>
            
            <td style="max-width: 100px;">
                    <a asp-action="Details" asp-route-id="@item.RecipeId" class="btn btn-outline-primary p-0 px-1"><i class="bi bi-info-circle-fill text-center"></i> Detail</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-primary p-0 px-1"><i class="bi bi-trash-fill"></i>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
